{% extends 'base.html' %}
{% block styles %}
{{super()}}
<style>
    .navbar {
        background-color: transparent;
    }
</style>
{% endblock %}

{% block body_attribs %} "agency" {% endblock %}
{% block app_content %}
<section class="section view intro-section" id="home">
    <video class="video-intro" poster="{{ url_for( 'static',filename='img/index.jpg' )}}" playsinline="" autoplay=""
        muted="" loop="">
        <source src="" type="video/mp4">
    </video>
    <div class="mask rgba-gradient">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 white-text text-center smooth-scroll">
                    <div class="white-text text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h3 class="display-3 font-weight-bold text-uppercase">IOT Demo</h3>
                        <h5 class="mb-5">Internet Of Things</h5>
                        <a class="btn btn-outline-white btn-rounded wow fadeInUp waves-effect waves-light"
                            data-wow-delay="0.2s" href="{{url_for('main.chart')}}" data-offset="100" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.2s;">
                            <span>View</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}