{% extends 'base.html' %}
{% block styles %}
{{super()}}
<style>

</style>
{% endblock %}

{% block body_attribs %} "agency" {% endblock %}
{% block app_content %}


<section class="section feature-box my-5 pb-5">
    <hr>

<div class="container">
    <h4 class="h1-responsive font-weight-bold text-center my-5">Mannual Data Collection</h4>

    <hr class="my-5">
    <div class="row">
        <div class="col">
            <form class="text-center border border-light p-5">
                <p class="h4 mb-4">Temperature Data Mannual Input Form</p>
                <p>Imaging now you are a brilliant Temperature Sensor .</p>
                <input type="text" id="type-tmp" class="form-control mb-4"  value="Temperature" disabled>
                <input type="hidden" id="uuid-tmp" class="form-control mb-4" disabled>
                <input type="text" id="val-tmp" class="form-control mb-4" placeholder="Value">
                <a class="btn btn-info btn-block collect" type="submit" id="send-tmp">Collect it !</a>
            </form>
        </div>
        <div class="col">
            <form class="text-center border border-light p-5">

                <p class="h4 mb-4">Any sensors Data Mannual Input Form</p>

                <p>Imaging now you are whatever a brilliant Sensor .</p>

                <input type="text" id="type-any" class="form-control mb-4" placeholder="Sensor Type">
                <input type="hidden" id="uuid-any" class="form-control mb-4" disabled>
                <input type="text" id="val-any" class="form-control mb-4" placeholder="Value">

            <a class="btn btn-info btn-block collect" type="submit" id="send-any">Collect it !</a>
            </form>
        </div>
    </div>
</div>

</section>


{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    function DatasetAdd(uuid,value,e){
        var x = Cookies.get('token');
        var data = {
            "value":value
        }
        $.ajax({
            type: 'post',
            url: '{{ dataset }}',
            data: JSON.stringify(data),
            contentType: "application/json",
            crossDomain: true,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('uuid', uuid);
            },
            success: function (res) {
                e.append("<div class='alert alert-secondary' role='alert'>New Data Collected</div>");
                console.log("data added");
                console.log(res);
            },            
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            },
            error: function(xhr, status, error){
                alert('request failed');
            }
        });
    }

    function SensorRq(stype,flag){
        var data={"stype" : stype};
        var x = Cookies.get('token');
        var uuid = Cookies.get('uuid-'+stype);
        if(!uuid)
            $.ajax({
                type: 'post',
                url: '{{ sensor }}',
                data: JSON.stringify(data),
                contentType: "application/json",
                crossDomain: true,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Basic '+x);
                },
                success: function (res) {
                    Cookies.set('uuid-'+stype,res['sensor']['uuid']);
                    console.log("sensor create");
                    console.log(res);
                },            
                fail: function(xhr, textStatus, errorThrown){
                    alert('request failed');
                },
                error: function(xhr, status, error){
                    alert('request failed');
                }
            });
        else{
            
        }
    }

    $("#mannualConfirm").click(function () {
        var stype = $("#S-area").html();
        var flag = $("#S-area").attr("type");
        $.when(SensorRq(stype,flag)).done(function(){
            setTimeout(
            function() 
            {
            var uuid = Cookies.get('uuid-'+stype);
            $('#uuid-'+flag).val(uuid);
            alert(uuid);
            $('#manualTemp').modal('hide');
            $('#uuid-'+flag).attr("type","text");    
            }, 50);
        
        });

    });

    $(".collect").click(function () {
        var t = $(this);
        var arr = t.attr("id").split('-')[1];
        var uuid = $("#uuid-"+arr).val();
        var value = $("#val-"+arr).val();
        var stype = $("#type-"+arr).val();

        if(stype.length<1){
            alert("type undefined")
        }
        if(uuid.length<10){
            var ar = $("#S-area");
            ar.html(stype);
            ar.attr("type",arr);
            $('#manualTemp').modal('show');
        }
        else{
            var e = t.parent().parent();
            DatasetAdd(uuid,value,e);
        }
    });



</script>
{% endblock %}