{% extends 'base.html' %}
{% block styles %}
{{super()}}
<style>

</style>
{% endblock %}

{% block body_attribs %} "agency" {% endblock %}
{% block app_content %}

<section class="section feature-box my-5 pb-5">
    <hr>
    <div class="container">
    <h4 class="h1-responsive font-weight-bold text-center my-5">Data Table View</h4>
    <div class="form-inline clearfix">
        <!-- Default input -->
        <div class="input-group mb-2 mr-sm-5 col-5 float-right" >
            <div class="input-group-prepend">
            <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control py-0" id="sensorid" placeholder="UUID">
        </div>
        <select class="browser-default custom-select mb-2 mr-sm-2 float-left" id="sensors">
            <option value="" selected>Select Sensor</option>
        </select>
    </div>
    <div class="form-inline clearfix">
        <!-- Default input -->

        <div class="input-group mb-2 mr-sm-5 col-5 float-right" >
        
            <div   class="input-group-prepend">
                <div class="input-group-text">
                    <i id="vf-" class="fa fa-filter float-left sortbar"></i>
                </div>
            </div>
            <input type="text" class="form-control py-0" id="vmin" placeholder="min">
            <input type="text" class="form-control py-0" id="vmax" placeholder="max">
        </div>
    </div>
    <hr class="my-5">
    <table id="DaTA" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">id
                    <i id="i-" class="fa fa-sort float-right sortbar" aria-hidden="true"></i>

                </th>
                <th class="th-sm">Value
                    <i id="v-" class="fa fa-sort float-right sortbar" aria-hidden="true"></i>
                    
                </th>
                <th class="th-sm">Time
                    <i id="t-" class="fa fa-sort float-right sortbar" aria-hidden="true"></i>
                </th>
                <th  class="th-sm">IP
                    <i id="p-"  class="fa fa-sort float-right sortbar" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
        <tbody id="dataset">    
        </tbody>
        <tfoot>
            <tr>
                <th>Id
                </th>
                <th>Value
                </th>
                <th>Time
                </th>
                <th>IP
                </th>
            </tr>
        </tfoot>
    </table>
    </div>
</section>


{% endblock %}
{% block footer %} {% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function detectSensor(){
        var x = Cookies.get('token');
        
        $.ajax({
            type: 'get',
            url: '{{ sensor }}',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'Basic '+x);
            },
            success: 
                function(data) {
                    console.log(data);
                    $.each(data["sensors"], function(i, item) {
                        var $option = $('<option>').text(item.stype);
                        $option.attr("value",item.uuid);
                        console.log($option);
                        $option.appendTo($('#sensors'));
                    });
                },            
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            },
            error: function(xhr, status, error){
                alert('request failed');
            }
        });
    }
    function appenData(uuid,token){
        console.log(token);
        payload = {
            "token":token || ""
        };
        $.ajax({
            url:  '{{ dataset }}',
            type: "get",
            beforeSend: function(xhr) {
                xhr.setRequestHeader('uuid', uuid);
            },
            data:payload,
            success: 
                function(data) {
                    console.log(data)
                    $.each(data["dataset"], function(i, item) {
                        var $trdata = $('<tr>').append(
                            $('<td>').text(item.id),
                            $('<td>').text(item.value),
                            $('<td>').text(moment(item.creation_date).format('lll')),
                            $('<td>').text(item.ip)
                        ); 
                        $trdata.appendTo($('#dataset'));
                        console.log($trdata)
                    });
                },            
            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            },
            error: function(xhr, status, error){
                alert('request failed');
            }
        });
    }

    var count = 0;
    window.onload = function(){
        detectSensor();
    }

    $( "#sensors" ).change(function() {
        var k=$(this).find(":selected");
        var sid=$('#sensorid');
        sid.val(k.val());
        $('#dataset').empty();
        appenData(k.val());
    });

    $( "#sensorid" ).change(function() {
        var k=$(this);
        appenData(k.val());
    });

    $(".sortbar").click(function () {
    var bar = $(this).attr("id");
    var k=$('#sensorid');
    
    token = bar+"desc"
    if(window.count%2==0)
        token= bar+"asc"
    if(bar=="vf-"){
        var max = $('#vmax').val();
        var min = $('#vmin').val();
        console.log(max);
        console.log(min);

        if (min[0]=='-' || max[0]=='-')
            alert("not allowed");
        token = bar+min+"-"+max;
    }
    console.log(window.count);

    $('#dataset').empty();
    appenData(k.val(),token=token);
    count++;
    });

</script>
{% endblock %}