{% extends 'base.html' %}
{% block styles %}
{{super()}}
<style>

</style>
{% endblock %}

{% block body_attribs %} "agency" {% endblock %}
{% block app_content %}
<section class="section feature-box my-5 pb-5">
    <hr>
    <div class="container">
    <h4 class="h1-responsive font-weight-bold text-center my-5">Data Table View</h4>
    <hr class="my-5">
    <table id="Temperature" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">id
                    <i id="S-Id" class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Place
                    <i  id="S-Place" class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Value
                    <i id="S-Value" class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th id="S-Time" class="th-sm">Time
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
        <tbody id="tmp">    
        </tbody>
        <tfoot>
            <tr>
                <th>Id
                </th>
                <th>Place
                </th>
                <th>Value
                </th>
                <th>Time
                </th>
            </tr>
        </tfoot>
    </table>
    </div>
</section>


{% endblock %}
{% block footer %} {% endblock %}

{% block scripts %}
{{ super() }}
<script>
var cid = 0;
var cvalue = 0;
var ctime = 0;

window.onload = function(){
        console.log("begin");
        $.ajax("{{ tmp }}").done(
        function(data) {
        console.log(data);
        console.log(data["temps"]);
        console.log(data["temps"][0]);
        $.each(data["temps"], function(i, item) {
            var $trdata = $('<tr>').append(
                $('<td>').text(item.id),
                $('<td>').text(item.place),
                $('<td>').text(item.value),
                $('<td>').text(item.creation_date)
            ); 
            console.log($trdata)
            $trdata.appendTo($('#tmp'));
        });
        }
    );


}
$("#S-Value").click(function () {
var t = $('#tmp');
var op = "v-upper";
t.empty();
console.log(window.cvalue);
if(window.cvalue%2==0)
op="v-down";
$.ajax("{{ tmp }}?token="+op).done(
        function(data) {
        console.log(data);
        console.log(data["temps"]);
        console.log(data["temps"][0]);
        $.each(data["temps"], function(i, item) {
            var $trdata = $('<tr>').append(
                $('<td>').text(item.id),
                $('<td>').text(item.place),
                $('<td>').text(item.value),
                $('<td>').text(item.creation_date)
            ); 
            console.log($trdata)
            $trdata.appendTo($('#tmp'));
        });
        }
    );
cvalue++;
});
$("#S-Time").click(function () {
var t = $('#tmp');
var op = "t-upper";
t.empty();
console.log(window.ctime);
if(window.ctime%2==0)
op="t-down";
$.ajax("{{ tmp }}?token="+op).done(
        function(data) {
        console.log(data);
        console.log(data["temps"]);
        console.log(data["temps"][0]);
        $.each(data["temps"], function(i, item) {
            var $trdata = $('<tr>').append(
                $('<td>').text(item.id),
                $('<td>').text(item.place),
                $('<td>').text(item.value),
                $('<td>').text(item.creation_date)
            ); 
            console.log($trdata)
            $trdata.appendTo($('#tmp'));
        });
        }
    );
cid++;
});
$("#S-Id").click(function () {
var t = $('#tmp');
var op = "i-upper";
t.empty();
console.log(window.cid);
if(window.cid%2==0)
op="i-down";
$.ajax("{{ tmp }}?token="+op).done(
        function(data) {
        console.log(data);
        console.log(data["temps"]);
        console.log(data["temps"][0]);
        $.each(data["temps"], function(i, item) {
            var $trdata = $('<tr>').append(
                $('<td>').text(item.id),
                $('<td>').text(item.place),
                $('<td>').text(item.value),
                $('<td>').text(item.creation_date)
            ); 
            console.log($trdata)
            $trdata.appendTo($('#tmp'));
        });
        }
    );
cid++;
});

$("#S-Place").click(function () {
alert("Indeed, there should  be only your data here :-)");
});

</script>
{% endblock %}