<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="" method="post" class="form" role="form">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix grey-text"></i>

                        <input type="text" id="l-name" class="form-control validate" name="l-name">
                        <label data-error="wrong" data-success="right" for="l-name">Name</label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fa fa-lock prefix grey-text"></i>

                        <input type="password" id="l-password" class="form-control validate" name="l-password">
                        <label data-error="wrong" data-success="right" for="l-password">Password</label>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <a class="btn btn-info btn-block" type="submit" id="loginUser">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="Signup" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="" method="post" class="form" role="form">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix grey-text"></i>

                        <input type="text" id="r-name" class="form-control validate" name="r-name">
                        <label data-error="wrong" data-success="right" for="r-name">Name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix grey-text"></i>

                        <input type="text" id="r-email"  class="form-control validate" name="r-email">
                        <label type="email" data-error="wrong" data-success="right" for="r-email">E-mail</label>
                    </div>

                    <div class="md-form mb-5">
                        <i class="fa fa-lock prefix grey-text"></i>

                        <input type="password" id="r-password" class="form-control validate" name="r-password">
                        <label data-error="wrong" data-success="right" for="r-password">Password</label>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <a class="btn btn-info btn-block" type="submit" id="signUser">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>